{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block css %}<link href="{% static "css/sign_in.css" %}" rel="stylesheet">{% endblock %}

{% block main %}
    <form class="form-signin" role="form" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary btn-block">
                {% bootstrap_icon "star" %} Авторизуватись
            </button>
        {% endbuttons %}
    </form>
{% endblock main %}
