.expando {
    display: none;
}

.expando--show {
    display: block !important;
}

.more {
    font-size: 16px;
    font-weight: 600;
    width: 170px;
    display: block;
    text-align: center;
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.more--active {
    color:red;
}
.multiselect-container {
    max-height: 200px;
    overflow: scroll;
    min-width: 96px;
}
.status_user {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.status_user--active {
    background: green;
}
.status_user--inactive {
    background: red;
}
.status_user--wait {
    background: orange;
}
select[disabled] {
    background-color: #bdbdbd;
}
.wrapper_form {
    padding: 10px 0;
}
.form_item {
    margin-right: 4px;
}
table.dataTable thead th, table.dataTable tbody th, table.dataTable tbody td {
    padding: 7px;
    text-align: center;
}
th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
